/*======= Font rengini #3C373B yapan bir yeni bir universal selector yaratın*/
*{
  color:#3C373B ;
}

h1 {
  font-family: 'Baloo 2', cursive;
  margin: 20px 0;
  /*=======  Font size'ı 60px yapın ve text'i ortalayın(center) */
  font-size: 60px;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Baloo 2', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  /*=======  Font size'ı 30px yapın*/
  font-size: 30px;
}

/*======= Sayfadaki TÜM p tag'leri için aşağıdaki özellikleri içeren bir selector yaratın:
*/
p {
  font-size: 16px;
  font-family: 'Baloo 2', cursive;
  padding: 10px;
  line-height: 1.4;
}


/*======= Sayfadaki TÜM imajlar için aşağıdaki özellikleri içeren bir selector yaratın:

  border-radius: 10px;

*/
img {
  border-radius: 10px;
  width: 100%;
}

.content-row {
  display: flex;
}

.content-row img{
  width: 325px;
}

.content-row div {
  margin: 20px;
  /*======= margin propery yaratın.  Değerini 20px olarak atayın*/
}

.container {
  /*======= width property yaratın. Değerini 605px olarak atayın */
  margin: 0 auto;
  width: 800px;
}

.container header nav a {
  font-family: 'Baloo 2', cursive;
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
   /*======= background property yaratın. Değerini #E79947 olarak atayınız.*/
   background: #E79947;
  
}

.container header nav a:hover {
  background: white;
  color: #E79947;
  border-color: #3C373B;
/*======= background property yaratın ve değeri white olsun.  Sonra, color property yaratın ve değerini yapın. */
}

/*======= Hakkmızda bölümü için aşağıdaki stilleri içeren bir selector yaratın:
  margin-top: 20px;
*/
.about-us{
  margin-top: 20px;
}

.contact-section {
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

/*======= contact-section class'da address tag'i için aşağdıaki stilleri içeren bir selector yaratın:
   line-height: 2;
*/
.contact-section address{
  line-height: 2;
}

li{
  list-style-type: none;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-family: 'Baloo 2', cursive;
}
  

footer {
  width: 100%;
  background: #E79947;
  border-top: 1px dashed white;
}

footer .footer-content { 
  margin: 0 auto; 
  width: 750px;
  /*======= width property yaratın. Değerini 605px olarak atayın */
}

footer .footer-content h3 {
  padding: 0;
  margin: 10px 0;
}


footer nav {
  display: flex;
}

/*======= Footer'daki anchor tag için aşağıdaki stilleri içeren bir selector yaratın:
  margin: 10px;
  color: black;
  text-decoration: underline;
*/
footer a{
  font-family: 'Baloo 2', cursive;
  margin: 10px;
  color: black;
  text-decoration: underline;
}


footer nav a:first-child {
  margin-left: 0;
}

/*======= Footer nav'daki anchor tag için aşağıdaki stilleri içeren bir hover state yaratın:
  color: white;
*/
a {
  font-family: 'Baloo 2', cursive;
}
footer nav a:hover{
  color:white;
}
footer .footer-content .copyright {
  text-align: center;
  font-size: small;
   /*======= metni ortalayacak kodu yazın */
}
